<h1>Add Restaurant</h1>

<%# <form action="/restaurants" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="address" placeholder="address">
    <button type="submit">ADD</button>
</form> %>

<%= render "form" %>
